@model TripleAdd.Models.TripleAddViewModel
@{
    ViewBag.Title = "Triple Add";
}


<form asp-controller="Home" asp-action="@ViewBag.Method"
      data-ajax-failure="DisplayError(data)" data-ajax-success="Reload(data)"
      data-ajax-mode="replace" data-ajax="true" data-ajax-method="POST">
    <div class="col-md-12 form-inline form-group" style="margin-top: 20px; padding-top: 5px; background-color: #E5E1DB">
        <label>
            @Html.TextBoxFor(p => p.Add1, new {@id="add1", Class = "form-control input-lg" })
        </label>
        <label style="font-size: 20px">+</label>
        <label>
            @Html.TextBoxFor(p => p.Add2, new {@id="add2", Class = "form-control input-lg" })
        </label>
        <label style="font-size: 20px">+</label>
        <label>
            @Html.TextBoxFor(p => p.Add3, new {@id="add3", Class = "form-control input-lg" })
        </label>
        <label style="font-size: 20px">=</label>
        <label>
            @Html.TextBoxFor(p => p.Ans, new {@id="ans", Class = "form-control input-lg", @disabled="disabled"})
        </label>
    </div>
    <div class="col-md-12 form-group">
        <div class="col-md-2">
            <button type="submit" class="form-control btn btn-success btn-lg">Calc</button>
        </div>
    </div>
</form>
<br/>

@section scripts {
<script src="~/js/refresh.js"></script>
}