@model List<AnyType.Models.TaskViewModel>
@{
    ViewBag.Title = "Any Type";
}

<table class="table table-hover table-bordered">
    <thead>
        <tr class="active">
            <th>Name</th>
            <th>Value</th>
            <th>Type</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var addressValue in @Model)
        {
                <tr>
                    <td>@addressValue.Name</td>
                    <td id="@addressValue.Id">@addressValue.Value</td>
                    <td>@addressValue.Type</td>
                    <td>@addressValue.Address</td>
                </tr>
        }
    </tbody>
</table>

@section scripts{
        <script src="~/js/refresh.js"></script>
}